header {
    background: #00665E;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: -70px; /* Espaço para o header */
}

h2 {
    margin-bottom: 20px;
    color: #00665E;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
input[type="time"],
select {
    width: calc(100% - 22px); /* Adicionado para considerar a largura do padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: calc(100% - 22px); /* Adicionado para considerar a largura do padding */
    padding: 12px;
    background-color: #00665E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #68BCB6;
}

.telefone-endereco {
    display: flex;
    justify-content: space-between;
}


.endereco {
    width: 48%;
    margin-left: -30px;
}

.phone-inputs {
    display: flex;
    flex-direction: column;
}

.phone-input {
    margin-bottom: 10px;
    position: relative;
}

.add-phone {
    margin-top: 10px;
    cursor: pointer;
    color: #00665E;
}

.add-phone:hover {
    color: #68BCB6;
}

/* Estilos para a caixa de seleção  */
.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkbox-item {
    display: flex;
    align-items: center;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-item label {
    font-size: 16px;
}

/* Estilos para o botão */
input[type="submit"] {
    margin-top: 20px;
    padding: 12px; /* Ajustado para corresponder ao tamanho dos outros botões */
    background-color: 00665E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #68BCB6;
}

.perfil {
    margin-top: -200px;
}

.botao{
  
    margin-left: 350px;
}

/* Estilo para o rótulo */
label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

/* Estilo para a seleção */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 2px solid #0c0e11;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
}

select:focus {
    border-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    outline: none;
}

/* Estilo para o botão */
button[type="submit"] {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #00665E; /*muda de cor ao passar o mouse*/
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button[type="submit"]:hover {
    background-color: #28a745; /*cor de fundo do botão de criar perfil*/ 
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

button[type="submit"]:active {
    background-color: #28a745;
}

button[type="submit"]:focus {
    outline: none;
}

.back-button {
    text-decoration: none;
}

.back-button button {
    background-color:  #00665E; /*muda de cor ao passar o mouse*/
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.back-button button:hover {
    background-color: #28a745; /*cor de fundo do botão de voltar*/
}

.material-symbols-outlined {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 5px;
}
