
footer{
    position: fixed;
}

nav {
    background-color: #00665E;
    padding: 0.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #eee;
}
/* Estilos para o botão de voltar */
.back-button {
    text-decoration: none; /* Remove sublinhado do link */
}

.back-button button {
    margin-top: 300px;
    background-color: #00665E; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto dentro do botão */
    border: none; /* Remove a borda do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border-radius: 4px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar por cima do botão */
    display: inline-block; /* Permite que o botão se ajuste ao conteúdo interno */
}

.back-button button:hover {
    background-color: #28a745; /* Cor de fundo do botão ao passar o mouse */
}

.material-symbols-outlined {
    font-size: 24px; /* Tamanho do ícone */
    vertical-align: middle; /* Alinha verticalmente com o texto */
    margin-right: 5px; /* Espaçamento à direita do ícone */
}
