/* footer */

footer{
    position: absolute;
}

/* Tabela */

#tabelaContainer {
    overflow-x: auto;
    max-height: 454px;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

thead {
    background-color: #f5f5f5;
    
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
    color: #555;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

td a {
    text-decoration: none;
    color: #324337;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}

.material-symbols-outlined {
    font-size: 24px;
    vertical-align: middle;
}


/* Modal de edição */

.box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.box form {
    display: flex;
    flex-direction: column;
}



/* Botao de voltar do modal de editar */

.box form button[type="button"] {
    background-color: #dc3545;
}

/* Botao de adicionar especialidade */

.addEspec,
.editEspec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addEspec button,
.editEspec button {
    padding: 10px;
    background-color: #00665E; /*muda a cor do botão de adicionar especialidade*/
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}



/* Botao de edição */

.edit-button button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

/* Icones dos botoes */

.material-symbols-outlined {
    font-size: 18px;
    /* Tamanho do ícone */
    vertical-align: middle;
    /* Alinha verticalmente com o texto */
    margin-right: 5px;
    /* Espaçamento à direita do ícone */
}
