@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wdth,wght@98.8,100..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Gidugu&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spline+Sans:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wdth,wght@98.8,100..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Gidugu&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&family=Spline+Sans:wght@300..700&display=swap');
/* footer */

footer {
    position: absolute;
}

/* Tabela */

#min {
    width: 40px;
}

#id_camp {
    width: 50px;
}

#tabelaContainer {
    overflow-x: auto;
    max-height: 454px;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

thead {
    background-color: #f5f5f5;

}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
    color: #555;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

td a {
    text-decoration: none;
    color: #324337;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}

.material-symbols-outlined {
    font-size: 24px;
    vertical-align: middle;
}


/* Modal de edição */

.box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.box form {
    display: flex;
    flex-direction: column;
}

#esp_title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 15px;
}

#editEspecialidadeForm {
    justify-content: center;
    align-items: center;
    height: 120px;
    gap: 15px;
}

#editEspecialidade {
    border: 2px solid transparent;
    width: 16em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #aaaaaa6f;
    border-radius: 10px;
    transition: all 0.5s;
}

#editEspecialidade:hover,
#editEspecialidade:focus {
    border: 2px solid #5c8f5d;
    box-shadow: 0px 0px 0px 7px rgba(121, 207, 181, 0.2);
    background-color: white;
}

.editEspecialidade {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#btn_modal {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* btn de salvar do modal */

#save_btn {
    width: 100px;
    height: 30px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
}

#save_btn:hover {
    background-color: #3e8e41;
}

#save_btn:active {
    background-color: #2f6f31;
}

#save_btn:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* btn de delete do modal */

#editBackButton {
    width: 100px;
    height: 30px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
}

#editBackButton:hover {
    background-color: #8e3e3e;
}

#editBackButton:active {
    background-color: #6f2f2f;
}

#editBackButton:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Botao de adicionar especialidade */

.addEspec {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 100%;
    padding-top: 5px;
}

#toggleBox {
    background-color: #00665E;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

/* Botao de edição */

.edit-button button {
    background-color: #28a745;
    color: #fff;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

/* Botao de delete */

.delete-button button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

/* Icones dos botoes */

.material-symbols-outlined {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

/* Botão de retorno */
#retorno {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
}

#retorno>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

#retorno:hover>svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

#retorno:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}

#ret {
    text-decoration: none;
    color: black;
}

/* modal de excluir */

#confirmDeleteModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
}

#confirmDeleteModal .modal-content {
    text-align: center;
}

#confirmDeleteModal #btn_modal {
    margin-top: 20px;
}

#confirmDeleteModal button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirmDeleteModal #confirmDeleteButton {
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
}

#confirmDeleteModal #cancelDeleteButton {
    background-color: #c38b31;
    color: #ffffff;
    font-weight: bold;
}

#btn_modal {
    justify-content: center;
    align-items: center;
}

/* Modal do botão especialidade */

.box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    width: 300px;
    height: 130px;
}

#especialidadeForm {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#btnEspecialidade {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#Especialidade {
    border: 2px solid transparent;
    width: 16em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #aaaaaa6f;
    border-radius: 10px;
    transition: all 0.5s;
}

#Especialidade:hover,
#Especialidade:focus {
    border: 2px solid #5c8f5d;
    box-shadow: 0px 0px 0px 7px rgba(121, 207, 181, 0.2);
    background-color: white;
}

.Especialidade {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#cadastrar {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

.btn-voltar {
    background-color: #c38b31;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    width: 100px;
    font-weight: bold;
}