.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: auto;

}

#loginButton {
    width: 400px;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: -2%;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #00665E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #00665E;
}

.status {
    text-align: center;
    margin-top: 10px;
    color: red;
    font-size: 14px;
}

footer {
    position: absolute;
}
