footer{
    position: fixed;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 1rem;
    margin: auto;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #eee;
}

.titulo{
    text-align: center;
}
/* Estilos para o botão de voltar */
.back-button {
    text-decoration: none; /* Remove sublinhado do link */
}

.back-button button {
    margin-left: 10px;
    margin-top: -10%;
    background-color:  #00665E; /*muda de cor ao passar o mouse*/
    color: #fff; /* Cor do texto dentro do botão */
    border: none; /* Remove a borda do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border-radius: 4px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar por cima do botão */
    display: inline-block; /* Permite que o botão se ajuste ao conteúdo interno */
}

.back-button button:hover {
    
    background-color: #28a745; /*cor de fundo do botão de voltar*/ 
}

.material-symbols-outlined {
    font-size: 24px; /* Tamanho do ícone */
    vertical-align: middle; /* Alinha verticalmente com o texto */
    margin-right: 5px; /* Espaçamento à direita do ícone */
}


.actions{
    margin-left: 90%;
    width: 10%;
    margin-top: 50px;
    
}

.btn-cadastrar{
    background-color:  #00665E; /*muda de cor ao passar o mouse*/
    color: #fff; /* Cor do texto dentro do botão */
    border: none; /* Remove a borda do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border-radius: 4px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar por cima do botão */
   
}
