@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wdth,wght@110.2,100..800&family=Gidugu&display=swap');

footer {
    position: fixed;
}

body,
html {
    margin: 0;
    padding: 0;
}

/* Titulo */

h2 {
    font-family: "Anek Telugu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 70px;
    font-style: normal;
    font-variation-settings:
        "wdth" 120.2;
    text-align: center;
    color: #555;
}

/* Tabela */

#tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    height: 320px;
    overflow-x: auto;
    max-height: 320px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f5f5f5;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
    color: #555;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

td a {
    text-decoration: none;
    color: #324337;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}

/* lista medico - escrito */

.titulo {
    text-align: center;
}

/* Botão de retorno */

button {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #ff00004b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #ffffff;
    margin-top: 70px; /* asoa */
}

button>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

button:hover>svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

button:hover {
    box-shadow: 9px 9px 33px #f1f0f0, -9px -9px 33px #e6e6e6;
    transform: translateY(-2px);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* Cadastrar */

.button2 {
    background-color: #00665E;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: max-content;
}

.button2:hover {
    background-color: #3e8e41;
    /* darker green on hover */
}

#btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.back-button button {
    margin-left: 10px;
        margin-top: 90px;
        background-color: #00665E; /*cor de fundo do botão de voltar */
        color: #fff;
        border: none;
        padding: 10px 10px;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
    }
    
    .back-button button:hover {
        background-color: #28a745
    }
    
    .material-symbols-outlined {
        font-size: 24px;
        vertical-align: middle;
        margin-right: 5px;
    }