body {
    /* background-image: url('https://img.freepik.com/fotos-premium/close-up-de-forma-de-coracao-sobre-fundo-branco_1048944-12268340.jpg?w=996');
  background-size: cover;
  background-position: center; */
  background: linear-gradient(#f3fffc, #a3b9b2);
}
nav {
    background-color: #00665E;
    padding: 0.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table, th, td {
    border: 1px solid #444444;
    background-color: #d2fffb;
    color: rgb(0, 0, 0);
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #0b7b71;
    color: rgb(255, 255, 255);
}
/* Estilos para o botão de voltar */
.back-button {
    text-decoration: none; /* Remove sublinhado do link */
}

.back-button button {
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto dentro do botão */
    border: none; /* Remove a borda do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border-radius: 4px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar por cima do botão */
    display: inline-block; /* Permite que o botão se ajuste ao conteúdo interno */
}

.back-button button:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
    margin: 0%;
}

.material-symbols-outlined {
    font-size: 24px; /* Tamanho do ícone */
    vertical-align: middle; /* Alinha verticalmente com o texto */
    margin-right: 5px; /* Espaçamento à direita do ícone */
}

footer {
    position: absolute;
}
