@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wdth,wght@110.2,100..800&family=Gidugu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wdth,wght@110.2,100..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Gidugu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wdth,wght@98.8,100..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Gidugu&family=Spline+Sans:wght@300..700&display=swap');

/* Estilos para o layout dos dados dos pacientes */
.paciente-container {
    width: 70%;
    margin: auto;
}

/* campos */
label {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20;
    font-style: normal;
    display: block;
    font-weight: bold;
    margin-top: 5px;
}

input {
    font-family: "Spline Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 18;
    font-style: normal;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 10px);
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 14px;
    color: #333;
    outline: none;
}

/* div botoes */
.botoes {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 60px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* modal */

.modal {
    display: none;
    /* Por padrão, o modal está oculto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo escuro semi-transparente */
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 400px;
    text-align: center;
}

.modal-content p {
    margin-bottom: 20px;
}

.modal-content button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
}

.modal-content button:hover {
    background-color: #45a049;
}

#btn_modal {
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 30px;
}

#cancelDeleteButton{
    background-color: #f33a1e;
}

/* footer */

footer {
    position: relative;
}

/* Botão de retorno */

button {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #ff00004b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
}

button>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

button:hover>svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

button:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}

a {
    text-decoration: none;
    color: black;
}

/* Titulo  */

h2 {
    font-family: "Anek Telugu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 70px;
    font-style: normal;
    font-variation-settings:
        "wdth" 120.2;
    text-align: center;
    color: #555;
}

/* Editar */

#edit {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #079759, #91aeb2);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 16px;
    padding: 0.6em 1.5em;
}

#edit:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

/* Editar */

#delete {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #f33a1e, #ed944b);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 16px;
    padding: 0.6em 1.5em;
}

#delete:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

/* Editar */

#salvar {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #154eaa, #2e8e9f);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 16px;
    padding: 0.6em 1.5em;
}

#salvar:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}