

.logout-form {
    position: fixed; /* Fixa o botão na tela */
    top: 10px; /* Distância do topo da página */
    right: 10px; /* Distância da borda direita da página */
    z-index: 1000; /* Garante que o botão esteja acima de outros elementos */
}

/* Estilo para o botão de logout */
.logout-button {
    background-color: #f44336; /* Cor de fundo vermelha */
    color: white; /* Texto branco */
    border: none; /* Sem borda */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    display: flex; /* Flexbox para alinhar ícones e texto */
    align-items: center; /* Alinha itens verticalmente */
    text-align: center; /* Alinha texto ao centro */
}

.logout-button .material-icons {
    margin-right: 8px; /* Espaçamento entre ícone e texto */
}

nav {
    background-color: #00665E;
    padding: 0.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#hs_consultas {
    width: 80%;
    margin: auto;
    /* background-color: violet; */
    height: 400px;    
    max-height: 400px;
    margin-bottom: 25px;
    overflow-x: auto;
}

/* Tabela */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #f5f5f5;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
    color: #555;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

td a {
    text-decoration: none;
    color: #324337;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}

/* Titulos */

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 50px;
    margin-top: 70px;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

footer {
    align-items: end;
    position: relative;
    bottom: 0;
    display: block;
}

body,
html {
    margin: 0;
    padding: 0;
}