@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wdth,wght@98.8,100..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Gidugu&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shippori+Antique+B1&family=Space+Grotesk:wght@300..700&family=Spline+Sans:wght@300..700&display=swap');



#pr_consultas {
    width: 80%;
    margin: auto;
    /* background-color: rgb(197, 197, 206); */
    height: 400px;
    max-height: 400px;
    overflow-x: auto;
}

#hs_consultas {
    width: 80%;
    margin: auto;
    /* background-color: violet; */
    height: 400px;    
    max-height: 400px;
    margin-bottom: 25px;
    overflow-x: auto;
}

/* Tabela */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #f5f5f5;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
    color: #555;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

td a {
    text-decoration: none;
    color: #324337;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}

/* Titulos */

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 50px;
    margin-top: 70px;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

footer {
    align-items: end;
    position: relative;
    bottom: 0;
    display: block;
}

body,
html {
    margin: 0;
    padding: 0;
}