body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    margin-top: 100px;
    margin-bottom: 60px;
}

/* essa parte faz com que o header mude de cor conforme a 
gente rola a pagina para baixo - funciona com o javascript (que ta no arquivo main.ejs) */
nav.ativo {
    background: #B5DAD7;
    transition: 1.5s;
}

section {
    width: 100%;
}

/* fim */

main {
    min-height: 439px;
}

footer {
    position: fixed;
    display: block;
    background: #00665E;
    color: #fff;
    text-align: center;
    font-size: 14px;
    width: 100%;
    bottom: 0; /* Garante que o footer esteja no fundo da página */
    left: 0; /* Garante que o footer esteja alinhado à esquerda */
    padding: 8px 0;
    font-family: "Armata", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1000; /* Garante que o footer fique sobre outros elementos */
}
