<title>Home</title>
<link rel="stylesheet" href="/css/styles.css">

<body>

    <header>
        <%- include ('../partials/menu.ejs'); %>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <%- include ('../partials/footer'); %>
    </footer>

    <script>

        //Essa função faz com que o header mude de cor 
        //conforme a gente rola a pagin pra baixo
        const menu = document.querySelector('nav');

        function activeScroll() {
            menu.classList.toggle('ativo', scrollY > 0);
        }

        window.addEventListener('scroll', activeScroll);

    </script>

</body>

</html>