<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projeto</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/css/styles.css">
   
</head>
<body>

    <header>
        <h4 class="clinica">SP MEDICAL GROUP</h4>
        <nav>
            <ul>
             
                
                <!-- Adicione mais links de navegação aqui -->
            </ul>
        </nav>
    </header>

    <header>
        <%- include ('../partials/menu.ejs'); %>
    </header>

    <main>
        <main><%- body %></main>
    </main>

    <footer>
        <%- include ('../partials/footer'); %>
    </footer>

</body>
</html>
