<link rel="stylesheet" href="/css/Adm.css">

<h1>Página Administrativa da Clínica</h1>

<nav>
    <ul>
        <li><a href="/Paciente">Pacientes</a></li>
        <li><a href="/ConsultaAdm">Consultas</a></li>
        <li><a href="/MedicoAdm">Médicos</a></li> 
        <li><a href="/Especialidade">Especialidade</a></li>
    </ul>
</nav>