<link rel="stylesheet" href="/css/Adm.css">

<div>
    <h1>Bem-vindo, <%= user.nome %>!</h1>
</div>

<nav>
    <ul>
        <li><a href="/Paciente">Pacientes</a></li>
        <li><a href="/ConsultaAdm">Consultas</a></li>
        <li><a href="/MedicoAdm">Médicos</a></li> 
        <li><a href="/Especialidade">Especialidade</a></li>
        <li><a href="/Consulta">Cadastrar Consulta</a></li>
        <li><a href="/Cadastro">Cadastrar Paciente</a></li>
    </ul>
</nav>