<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Clínica</title>
    <link rel="stylesheet" href="/css/Adm.css">
</head>
<body>
    <header>
        <h1>Página Administrativa da Clínica</h1>
    </header>
    <nav>
        <ul>
            
            <li><a href="/Paciente">Pacientes</a></li>
            <li><a href="/ConsultaAdm">Consultas</a></li>
            <li><a href="/MedicoAdm">Médicos</a></li>
        </ul>
    </nav>
    






</body>
</html>
