<link rel="stylesheet" href="/css/Login.css">

<div class="login-container">
    <h2>Login</h2>
    <form action="/auth/login" method="post">
        <input type="text" id="login" placeholder="Login" name="login" required>
        <input type="password" id="senha" placeholder="Senha" name="senha" required>
        <button id="loginButton">Login</button> 
    </form>
</div>