<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/MedicoAdm.css">
    <title>Document</title>
</head>
<body>

    <div class="actions">
        <button onclick="window.location.href='/Medico'">Cadastrar Medico</button>
    </div>

    <main>
        <h2 class="titulo">Lista de Medicos</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Especialidade</th>
                    <th>sexo</th>
                </tr>   
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </main>
    
</body>
</html>