<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Paciente.css">
    <title>Document</title>
</head>
<body>
    
</body>
</html>


<div class="actions">
    <button onclick="window.location.href='/Cadastro'">Cadastrar Paciente</button>
</div>

<main>
    <h2>Lista de Pacientes</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Data da Consulta</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</main>