<link rel="stylesheet" href="/css/pag_erro.css">

<body class="body">
   

    <div class="img-fundo">
        <img src="../../../images/pagina-de-erro-404.jpg" class="" id="">
    </div>
    <!-- <h3>
        <%= message%>
    </h3> -->


    <a href="/" class="back-button">
        <button><span class="material-symbols-outlined">arrow_back</span> Voltar</button>
    </a>

</body>

