<title>Prontuário</title>
<link rel="stylesheet" href="/css/Prontuario.css">

<div class="corpo">
    <h1>Formulário de Prontuário</h1>
    <div class="form">
        <form action="/Prontuario/cadastro" method="post">
            <label for="diagnostico">Diagnóstico:</label>
            <textarea id="diagnostico" name="diagnostico" required></textarea>

            <label for="medicacao">Medicação:</label>
            <textarea id="medicacao" name="medicacao" required></textarea>

            <button class="btn" type="submit">Enviar</button>
        </form>
    </div>
    <a href="/Medico" class="back-button">
        <button><span class="material-symbols-outlined">arrow_back</span> Voltar</button>
    </a>
</div>

<script>
    then(response => response.json())
    console.log(response)
        .then(data => {
            if (data.success) {
                alert('Cadastro realizado com sucesso!');
                window.location.href = data.redirect;
            } else {
                alert('Falha no cadastro: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Erro:', error);
            alert('Um erro ocorreu. Por favor, tente novamente.');
        });
</script>