<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prontuário</title>
    <link rel="stylesheet" href="/css/Prontuario.css">
</head>
<body>

    <div class="corpo">
    
    <h1>Formulário de Prontuário</h1>
    <form action="/" method="post">
        <label class="id"   for="id">ID:</label>
        <input type="text" id="id" name="id" required><br><br>

        <label for="diagnostico">Diagnóstico:</label>
        <input type="text" id="diagnostico" name="diagnostico" required><br><br>

        <label class="medicacao" for="medicacao">Medicação:</label>
        <input type="text" id="medicacao" name="medicacao" required><br><br>

        <button class="btn" type="submit">Enviar</button>
    </form>
</div>
   
</body>
</html>
