<link rel="stylesheet" href="/css/menu.css">

<div class="navegador">

    <a href="/"  class="header_link">
        <img src="../../../images/FOTO DA LOGO DA CLINICA.png" width="85" height="60" class="logo" />
        <text class="medical_name">MEDICAL GROUP - SP</text>
    </a>

    <div>
        <a href="Login" class="btn_login">Login</a>
    </div>

</div>