<link rel="stylesheet" href="/css/menu.css">

<div class="navegador">

    <a href="/"  class="header_link">
        <img src="../../../images/FOTO DA LOGO DA CLINICA.png" width="85" height="60" class="logo" />
        <text class="medical_name">MEDICAL GROUP - SP</text>
    </a>

    <div>
        <a href="Login" class="btn_login">Login</a>
        <a href="Cadastro" class="btn_login">Cadastro</a>
        <a href="Consulta" class="btn_login">Consulta</a>
        <a href="ConsultaAdm" class="btn_login">ConsultaAdm</a>
        <a href="Especialidade" class="btn_login">Especialidade</a>
        <a href="Adm" class="btn_login">Adm</a>
        <a href="MedicoAdm" class="btn_login">MedicoAdm</a>
        <a href="Paciente" class="btn_login">Paciente</a>
        <a href="Prontuario" class="btn_login">Prontuario</a>
        <a href="PacienteInfo" class="btn_login">PacienteInfo</a>

    </div>

</div>