<h1>Bem-vindo ao SP Medical Group!</h1>

<h2>onde sua saúde é nossa prioridade.</h2><br><br>

<h3>
    "Não perca tempo, faça seu cadastro hoje<br>
    e descubra uma nova forma<br>
    de cuidar da sua saúde <br> com facilidade e conveniência.
</h3>

<div class="img-01"><img src="images/IMAGEM IA.png " width="500" height="400" /></div>

<!-- <div class="btn-Login">
    <a href="Login">
        <i class="fa-solid fa-photo-film"></i>
        LOGIN
    </a>
</div> -->